<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="default"
         providerName="System.Data.SqlServerCe.4.0"
         connectionString="Data Source=C:\apps\Prognet2013\angular\ProgNet13\ProgNet13-master\BedAndBroadband\Database\Hotel.sdf" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!-- Uncomment this for running in VS2010 Dev Server --><!--<httpHandlers>
      <add verb="*" path="*" type="Fix.AspNet.FixHttpHandler"/>
    </httpHandlers>--></system.web>
  <system.webServer>
    <!-- Comment this for running in VS2010 Dev Server --><handlers>
                                                            <add name="Fix.AspNet" path="*" verb="*"
                                                                 type="Fix.AspNet.FixHttpHandler" />
                                                          </handlers>
  </system.webServer>
</configuration>